[Unit]
Description=Gunicorn сервис для запуска Кваса для тестов
After=network.target

[Service]
User=www-data
Group=root
Restart=always
WorkingDirectory=/apps/kvas
ExecStart=/apps/kvas/venv/bin/gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -w 1 --threads 100 --bind 0.0.0.0:33666 api:app --error-logfile /apps/kvas/logs/gunicorn.log --log-level debug

[Install]
WantedBy=multi-user.target
