<!-- Модальное окно "видео о расширении" -->
<div class="modal-content">
  <div class="modal-header bg-info bg-opacity-20 ">
    <h6 class="modal-title fs-4 fw-normal">Видео-обзор расширения</h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body ratio ratio-4x3">
    <!-- Адаптивное видео -->
    <video controls class="">
      <source src="" type="video/mp4">
      Ваш браузер не поддерживает видео.
    </video>
  </div>

  <div class="modal-footer py-0 bg-info bg-opacity-20 ">
    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Закрыть</button>
  </div>
</div>
<!-- /Модальное окно "видео о расширении" -->