[Unit]
Description=uWSGI service for API
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/apps/api/
ExecStart=/apps/api/venv/bin/uwsgi --ini /apps/api/uwsgi.ini
Restart=always

[Install]
WantedBy=multi-user.target

