
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-danger text-white border-0">
            <h6 class="modal-title">Удаление</h6>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-bs-dismiss="modal">Закрыть</button>
            <button id="_@_delete_confirm" type="button" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</div>
