<!-- Модальное окно "видео о расширении" -->
<div id="_@_modal_preview" class="modal-dialog modal-lg ">
  <div class="modal-content">
    <div class="modal-header pt-3 pb-3 bg-info bg-opacity-20 ">
      <h6 class="modal-title fs-3">Видео-обзор расширения</h6>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body pb-0">
    </div>

    <div class="modal-footer mt-3 pt-0 pb-1 bg-info bg-opacity-20 ">
      <button type="button" class="btn btn-link" data-bs-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>
<!-- /Модальное окно "видео о расширении" -->